{
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "eqeqeq": ["error", "smart"],
    "no-constant-condition": "off",
    "no-unused-vars": ["error", { "args": "none" }]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "Promise": true
  },
  "env": {
    "node": true
  }
}
